.header{
    padding-top: 100 px;
    margin: 20px;
}

#carouselExampleFade{
    /* width:640px;
    height:300px; */
    margin: 10px;
    padding: 10px;

  }

.quote {
    text-align: center;
    /* font-size: larger; */
    margin: 20px;
    padding: 10px;
}

footer{
   
    background-color: lightgray;

    bottom: 0;
    left:0;
    width: 100%;
    height: auto;
}


