.container {
    display: grid;
    grid-template-columns: [line1] 250px [line2] 100px [line3] 250px [line4] 250px [line5]250px [end];
    grid-template-rows: [first-line]100px [second-line]100px [third-line]400px [forth-line]400px [fifth-line]100px [end];
    grid-template-areas:
        "header header header header"
        "aside . section section"
        "footer footer footer footer";
}

header {
    grid-column-start: line2;
    grid-column-end: line4;
    grid-row-start: first-line;
    grid-row-end: second-line;
    justify-self: center;
    align-self: center;
    color:#89a3c8;
}

nav {
    grid-column-start: line1;
    grid-column-end: line5;
    grid-row-start: second-line;
    grid-row-end: third-line;
    justify-self: stretch;
    align-self: center;
    background-color:  #282828;
    border: 3px solid  #89a3c8;
    color: #89a3c8;
}

aside{
    grid-column-start: line1;
    grid-column-end: line2;
    grid-row-start: third-line;
    grid-row-end: forth-line;
    justify-self: left;
}

section{
    grid-column-start: line3;
    grid-column-end: line5;
    grid-row-start: third-line;
    grid-row-end: forth-line;
    justify-self: center;
   
}

footer{
    grid-column-start: line1;
    grid-column-end: line5;
    grid-row-start: fifth-line;
    grid-row-end: end;
    justify-self: stretch;
    align-self: end;
    background-color: #282828;
    border: 3px solid #89a3c8;
    color: #89a3c8;
}

body {
    background-color: black;
    background-image: url("https://images.vexels.com/media/users/3/72688/preview2/a7c4b20e9bf9c64ce9b455a5f2e371a9-space-stars-background.jpg");
    width: 500px;
}

p {
    background-color: #282828;
    border: 3px solid #89a3c8;
    color: #89a3c8;
    padding: 10px;
    margin: 10px;
}

#title {
    
    background-color:  #282828;
    border: 3px solid  #89a3c8;
    color: #89a3c8;
    
    place-self: center;

}