header{
    grid-area: header | row1-start / 1 / row1-end / end;
    color:#89a3c8;
    padding: 10px;
    
    /* align-self: center; */
}

nav{
    grid-area: 2 / 1 / end / end;
    color:#89a3c8;
    padding: 10px;
    margin: 10px;
}

section{
    grid-area: 2 / col4-start / third-line / 6;
    /* display:flex; */
    width: 500px;
    /* flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end; */
    padding: 10px;
    margin: 10px;
}

aside{
    grid-area: 2 / col1-start / third-line / 2;
    width: 300px;
    padding: 10px;
    margin: 10px;
}

footer{
    grid-area: 4 / col1-start / first-line / end;
    background-color: #282828;
    border: 3px solid #89a3c8;
    color: #89a3c8;
    padding: 10px;
    margin: 10px;
}

body {
    background-color: black;
    background-image: url("https://images.vexels.com/media/users/3/72688/preview2/a7c4b20e9bf9c64ce9b455a5f2e371a9-space-stars-background.jpg");
    width: 500px;
}

p {
    background-color: #282828;
    border: 3px solid #89a3c8;
    color: #89a3c8;
    padding: 10px;
    margin: 10px;
}

.container {
    display: grid;
    grid-template-columns: 25px 25px 25px 25px;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "sidebar . . main"
    "footer footer footer footer";
    column-gap: 10px;
    row-gap: 15px;
    /* justify-items: stretch */
    

}