
.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

body {
    background-color: #0f3750;
}

.header{
    margin: 10px;
    padding: 10px;
}
/* 
.aboutme:hover{
    background: url("https://i.ibb.co/4pXpkdz/About-Me.png") no-repeat;
} */

.aboutme {
    width: 300px;
    height: 300px;
    background: url("https://i.ibb.co/M6BD09D/rsz-about-me-1.png") no-repeat;
    display: inline-block;
}
.aboutme:hover {
    background: url("https://i.ibb.co/5cp0YFg/rsz-about-me.png") no-repeat;
    
}

.mydesign {
    width: 300px;
    height: 300px;
    background: url("https://i.ibb.co/Z66sBNM/About-Me-2.png") no-repeat;
    display: inline-block;
}
.mydesign:hover {
    background: url("https://i.ibb.co/jL9RPr4/About-Me-3.png") no-repeat;
    
}