{% extends 'base.html' %}

{% block content %}

<div class ="container">
    <h2> URL Shortener</h2>

    <hr>

    <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                Site Name: <input type="text" class="form-control" placeholder="Enter Website Name Here" name="site_name" required/><br>
            </div>
            <div class="col">
                URL Link: <input type="text" class="form-control" placeholder="Enter Website URL Here" name="url_link" required/><br>
            </div>
            <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
</div>



{% endblock %}