{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/css/style.css'%}">
    <link rel="stylesheet" href="{% static '../static/css/css/bootstrap.min.css'%}">
    <title>Lynn's To-Do List</title>
</head>
<body>
    
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="http://127.0.0.1:8000/">Lynn's To-Do List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="http://127.0.0.1:8000/createtasks">Create Tasks</a>
          </div>
        <!-- </div> -->
      </nav>
    {% block content %}
    {% endblock %}
</body>
</html>