{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name= "viewport" content= "width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/css/style.css'%}">
    <link rel="stylesheet" href="{% static '../static/css/css/bootstrap.min.css'%}">
    <title>Lynn's To-Do List</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
    <a class="navbar-brand" href="http://127.0.0.1:8000/"><h2>Lynn's To-Do List</a></h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:8000/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/viewtasks">View Your Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/createtasks">Create a Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/removetasks">Remove a Task</a>
        </li>
      </ul>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
</body>
</html>