{% extends 'base.html' %}

{% block content %}

    <div class="container">
        
        
        <form action="{% url 'createTasks' %}" method='POST'>
            {% csrf_token %}
                <div class="form-group">
                  <label for="exampleInputEmail1">Enter your task</label>
                  <input class="form-control" type="text" placeholder="To-Do" name="task_name">
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1">Due Date</label>
                  <input class="form-control" type="text" placeholder="Due Date" name="due_date">
                </div>

                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="taskCompleted" name="is_completed"/>
                  <label class="form-check-label" for="exampleCheck1">Completed?</label>
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        
    </div>
    

{% endblock %}

