{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for task in tasks %}
        <ul>
            <li> task name: {{task.task_name}}</li>
            <li> task description: {{task.desp}}</li>
            <li> due date: {{task.due_date}}</li>
        </ul>
        {% empty %}
            <p> there are no tasks to display</p>
    {% endfor %}
    
</body>
</html>