.container{
    display: grid;
    grid-template-columns: [line1] 40px [line2] 50px [line3] 100px [line4]50px [line5]40px [end];
    grid-template-rows: [row1] 25% [row2] 100px [row3] 100px [row4] auto [end]; 
    grid-template-areas: 
        "header header header header"
        ". main main main ."
        "footer footer footer footer";

}

nav {
    grid-area: header; 
}

.main {
    grid-area: main;
    background: white;
    width: 500px;
}

body{
    background-color: #9fc6d7;
}

h2{
    font-family: 'Dancing Script', cursive;
    background-color: #9fc6d7;
}

h3{
    font-family: 'Lato', sans-serif;
}

ul{
    font-family: 'Lato', sans-serif;
    font-size: 150%;
}

h1{
    font-family: 'Dancing Script', cursive;
}
