{% extends 'base.html' %}

{% block content %}
<div class = "container">  
    <div class="POST">
        
            
                <h2>Things To Do</h2>
            
        <hr>    
              
                {% for task in tasks %}
                    <ul> 
                        <li><h4><a href= "{% url 'task_details' task.id %}"> {{ task.task_name }} </a></h4> 
                        </li>
                    </ul>
                {% endfor %}
            
    </div>

</div>
{% endblock %}