{% extends 'base.html' %}

{% block content %}
<center> 
    <h2>Task Detail</h2>
</center>
    <div class="container">
        <h2>{{desp.task_name}}</h2>
        <p>Due Date: {{desp.due_date}} </p>
        <p>Completed? {{desp.is_completed}}</p>
        <a href="{% url 'remove_task' desp.id %}" class="btn btn-danger" role="button" aria-pressed="true">Delete Task</a>
        <a href="{% url 'edit_task' desp.id %}" class="btn btn-success" role="button" aria-pressed="true"> Edit Task </a>
    </div>

    

{% endblock %}